<h2 mat-dialog-title>{{data.update ? 'Modifier un rôle':'Ajouter un role'}}</h2>
<mat-dialog-content style="min-width: 500px ;" class="mat-typography">

  <div class="nice-form-group">
    <label>Nom du rôle</label>
    <input style="width: 100%;" [(ngModel)]="data.role.nom" type="text" placeholder="Nom du rôle"/>
  </div>

</mat-dialog-content>
<mat-dialog-actions class="gap-2" align="end">
  <button class="btn w-32 text-white bg-red-500 p-2 rounded rounded-2" mat-button mat-dialog-close>Annuler</button>
  <button class="btn w-32 text-white bg-green-500 p-2 rounded rounded-2" mat-button [mat-dialog-close]="true" cdkFocusInitial>Valider</button>
</mat-dialog-actions>
