<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
  <!-- User profile image -->
  <div class="profile-img"> <img src="assets/images/users/profile.png" alt="user"> </div>
  <!-- User profile text-->
  <!-- ============================================================== -->
  <!-- Profile - style you can find in header.scss -->
  <!-- ============================================================== -->
  <div *ngIf="appService.getCurrentRole()!==administrateur" class="profile-text"><a [matMenuTriggerFor]="sdprofile" class=""> {{appService.getCurrentRole()}} <i
        class="ti-angle-down font-12 m-l-5"></i></a></div>
  <div *ngIf="appService.getCurrentRole()===administrateur"  class="profile-text"><a [matMenuTriggerFor]="sdprofile" class=""> Ecole {{appService.getCurrentAdminEcolenom()}} <i
        class="ti-angle-down font-12 m-l-5"></i></a></div>
  <mat-menu #sdprofile="matMenu" class="mymegamenu">
    <button mat-menu-item>
      <mat-icon fontIcon="settings"></mat-icon> Settings </button>
    <button mat-menu-item>
      <mat-icon fontIcon="account_box"></mat-icon> Profile </button>
    <button mat-menu-item>
      <mat-icon fontIcon="notifications_off"></mat-icon> Disable notifications </button>
    <button mat-menu-item>
      <mat-icon fontIcon="exit_to_app"></mat-icon> Sign Out </button>
  </mat-menu>

</div>
<mat-nav-list appAccordion>
  <li *ngFor="let menuitem of menuItems.getMenuitem()">
    <mat-list-item  *ngIf="permissionService.checkIfRoleHasPermission(menuitem.permission)" appAccordionLink routerLinkActive="selected">
      <a class="" *ngIf="menuitem.type === 'link'"
        appAccordionToggle [routerLink]="['/', menuitem.state]">
        <mat-icon>{{ menuitem.icon }}</mat-icon>
        <span>{{ menuitem.name }}</span>
        <span fxFlex></span>

      </a>

    </mat-list-item>
  </li>
</mat-nav-list>
