<h2 mat-dialog-title>{{data.update ? 'Modifier une matière':'Ajouter une matière'}}</h2>
<mat-dialog-content style="min-width: 500px ;" class="mat-typography">

  <div class="nice-form-group">
    <label>Nom de la matière</label>
    <input [(ngModel)]="nom" [(ngModel)]="data.matiere.nom" type="text" placeholder="Nom de la matière"/>
  </div>

  <div class="nice-form-group">
    <mat-form-field>
      <mat-select [(ngModel)]="niveau" placeholder="Niveau d'étude">
        <mat-option>Aucun</mat-option>
        <mat-option *ngFor="let item of niveauList" value="{{item.idNiveau}}">{{item.nomNiveau}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="nice-form-group">
    <label>Coéficient</label>
    <input [(ngModel)]="coef" [(ngModel)]="data.matiere.coeficient" type="number" placeholder="Coéficient"/>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="gap-2" align="end">
  <button class="btn w-32 text-white bg-red-500 p-2 rounded rounded-2" mat-button mat-dialog-close>Annuler</button>
  <button class="btn w-32 text-white bg-green-500 p-2 rounded rounded-2" mat-button (click)="validate()" cdkFocusInitial>Valider</button>
</mat-dialog-actions>
