<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div class="row mb-5">
  <h1 style="font-size: x-large; text-align: center;" class="font-bold text-center w-full">Plateforme de classement des
    elèves du primaire</h1>
</div>

<div class="row">
  <!-- column -->
  <div class="col-lg-8 col-sm-12">
    <app-sales-overview></app-sales-overview>
  </div>
  <!-- column -->
  <!-- column -->
  <!-- <div class="col-lg-4 col-sm-12">
    <app-our-visiter></app-our-visiter>
  </div> -->
  <!-- column -->
</div>

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div class="row">
  <div class="w-full gap-5" style="display: flex; flex-direction: row; justify-content: center; ">
    <div class="nice-form-group">
      <mat-form-field>
        <mat-select [(ngModel)]="classe" (valueChange)="classeValueChange($event)" placeholder="Classe">
          <!-- <mat-option>Aucun</mat-option> -->
          <mat-option *ngFor="let item of listClasses" value="{{item.idNiveau}}">{{item.nomNiveau}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="nice-form-group">
      <mat-form-field>
        <mat-select [(ngModel)]="annee" (valueChange)="anneeValueChange($event)" placeholder="Année">
          <mat-option>Aucun</mat-option>
          <mat-option *ngFor="let item of listAnnee"
            value="{{item.idAnneeScolaire}}">{{item.anneeDebut}}-{{item.anneeFin}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <mat-accordion class="w-full">
    <mat-expansion-panel class="w-full container mt-3 gap-5 mx-5 row" *ngFor="let item of listeEcole, let j=index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3><b>{{j+1}}{{j===0?"er ":"eme "}}</b> {{item.nomEcole}}, {{item.ville.nomVille}}</h3>
        </mat-panel-title>
        <mat-panel-description class="flex-row justify-between flex-1">
          <h3><b>Responsable: </b>{{item.responsable[0].nomUtilisateur}}</h3>
          <h3>Taux succès: {{item.taux}}%</h3>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="w-full">
        <div class="w-full">
          <table class="fl-table">
            <thead>
              <tr>
                <th matListItemTitle color="primary">Nom Eleve</th>
                <th matListItemTitle color="primary">Note Générale /20</th>
                <th matListItemTitle color="primary">Opération</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let itemm of item.listEcole let i=index">
                <td>
                  {{itemm.nomEleve}}
                </td>
                <td>{{itemm.generale}}</td>
                <td>
                  <button mat-icon-button matTooltip="Voir" matTooltipPosition="above" color="primary">
                    <mat-icon>remove_red_eye</mat-icon>
                  </button>

                  <button mat-icon-button matTooltip="Statistique" matTooltipPosition="above" color="accent">
                    <mat-icon aria-label="Example icon-button with a heart icon">bar_chart</mat-icon>
                  </button>

                  <button mat-icon-button matTooltip="Supprimer" matTooltipPosition="above" color="warn">
                    <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                  </button>
                </td>
              </tr>
            <tbody>
          </table>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>


</div>
